<div class="row">
    <div class="col-md-60">
        <div *ngIf="fileUpload.status==='error'">
            <div [innerHTML]="fileUpload.message"></div>
        </div>
        <div *ngIf="fileUpload.status==='progress'">
            <div class="progress" style="height: 20px;margin-bottom:20px;">
                <div class="progress-bar" role="progressbar" [style.width.%]="fileUpload.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{fileUpload.message}}%</div>
            </div>
        </div>
        <br>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
           <div class="container" display="flex"  justify-content= "center" > <div class="card text-center">
                <div class="card-header">
                  File Upload
                </div>
                <div class="card-body">
                  <h5 class="card-title">Here you can upload a file </h5>
                  <div class="mb-3">
                    <input class="form-control" type="file" name="profile"  multiple>
                  </div><br>
                  
                    <button class="btn btn-success">Upload</button> &nbsp;&nbsp;&nbsp;&nbsp;
                
                    <button  class="btn btn-success">view</button>
               
                </div>
              </div>
            </div>
             </form>
        <div *ngIf="fileUpload.status==='success'">
            <img [src]?="fileUpload.filePath" height="200px" />
        </div>

        <div *ngIf="success_msg; then updated_msg; else error_msg">
          User added successfully
        </div>
        <ng-template #updated_msg>
          User was Upadated
        </ng-template>

      <ng-template #error_msg>
        User was not added
      </ng-template>


   <div [ngSwitch]="superPower">
     <div *ngSwitchCase="'wonderwomen'">Display Wonder women super power</div>
     <div *ngSwitchCase="'He man'">Display He man super power</div>
     <div *ngSwitchCase="'Iron man'">Display Iron man super power</div>
     <div *ngSwitchCase="'Spider man'">Display Spider man super power</div>
   </div>
   <div [ngSwitch]="tax">
    <div *ngSwitchCase="10">tax is 10</div>
    <div *ngSwitchCase="20">tax is 10</div>
    <div *ngSwitchCase="30">tax is 10</div>
    <div *ngSwitchCase="40">tax is 10</div>
    <div *ngSwitchDefault>You have 50% discount</div>
  </div>

        <p>{{ error }}</p>
       
<table>
        <tr *ngFor="let u of filelist">

          {{u}}

      </tr>

  </table>

 

   </div>
</div>
